
// Reuse This Class

// Section Heading Starts Here
.section_heading{
	font-size: 76px;
	font-weight: 600;
	line-height: 84px;
	color: #1F2020;
}
// Section Heading Ends Here


// Section Padding Starts Here
.section_padding{
	padding: 90px 0px;
}
// Section Padding Ends Here

// Typography Starts Here
h1, h2{
	font-size: 76px;
	font-weight: 600;
}

h3{
	font-size: 40px;
	font-weight: 600;
}
h4{
	font-size: 30px;
	font-weight: 600;
}
h5{
	font-size: 25px;
	font-weight: 600;
}
p{
	font-size: 16px;
	font-weight: 400;
	color: #404040;
}
// Typography Ends Here

// Reuse This Class 
