// Banner Section Starts Here
.banner-area {
    padding-top: 60px;
    height: 100vh;
    background-color: #1F2020;
    position: relative;

    .dots-image {
        position: absolute;
        top: 85px;
        right: -10px;
    }

    &__heading {
        margin-bottom: 27px;

        h1 {
            font-size: 58px;
            line-height: 66px;

            span {
                color: #FFE817;
                text-decoration: underline;
            }
        }
    }

    &__text {
        margin-bottom: 32px;

        p {
            line-height: 26px;
            max-width: 500px;
        }
    }

}

// Banner Section Ends Here
// Responsive
/* === For Small Device ( 0px - 767px) == */
@include small {
    .banner-area {
        padding-top: 70px;
        padding-bottom: 30px;
        height: auto;

        img {
            display: none;
        }

        &__heading {
            margin-bottom: 20px;

            h1 {
                font-size: 30px;
                line-height: 38px
            }
        }

        &__text {
            margin-bottom: 20px;

            p {
                line-height: 26px;
                max-width: 100%;
            }
        }

        .dots-image {
            display: none;
        }
    }
}

/* === For Extra small Device ( 320px - 575px) == */
@include ex_small {}

/* === For Medium Device ( 768px - 1023px) == */
@include medium {
    .banner-area {
        padding-top: 90px;
        height: auto;

        &__heading {
            margin-bottom: 20px;

            h1 {
                font-size: 45px;
                line-height: 53px
            }
        }

        &__text {
            margin-bottom: 20px;

            p {
                line-height: 26px;
                max-width: 100%;
            }
        }
    }
}

/* === start fromt   ( 768px - ) == */
@include min {}

/* === For Large Device ( 1024px - 1200px) == */
@include large {
    .banner-area {
        height: auto;
    }
}

// For Laptop
@media (min-width: 1201px) and (max-width: 1439px) {
    .banner-area {
        height: auto;
    }
}
