// Testimonials Section Starts Here
.testimonials {
    position: relative;

    .testimonials-dots {
        position: absolute;
        right: 45px;
        top: 15px;
    }
}

// Testimonials Section Ends Here

// Responsive
/* === For Small Device ( 0px - 767px) == */
@include small {
    .testimonials {
        &-dots {
            display: none;
        }

        .swiper-pagination {
            justify-content: center;
        }

        .testimonial-left {
            margin-bottom: 25px;

            &__heading {
                margin-bottom: 12px;
                text-align: center;
            }

            &__text {
                margin-bottom: 20px;

                p {
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            &__dots {
                margin-bottom: 20px;
                text-align: center;
            }

            &__buttons {
                text-align: center;
            }
        }

        img {
            margin-top: 30px;
        }
    }
}

/* === For Extra small Device ( 320px - 575px) == */
@include ex_small {}

/* === For Medium Device ( 768px - 1023px) == */
@include medium {
    .testimonials {
        .testimonial-left {
            margin-bottom: 30px;

            &__heading {
                margin-bottom: 20px;
            }

            &__text {
                margin-bottom: 30px;

                p {
                    font-size: 18px;
                    line-height: 26px;
                }
            }

            &__dots {
                margin-bottom: 30px;
            }

            &__buttons {
                text-align: left;
            }
        }

        img {
            margin-top: 30px;
        }
    }
}

/* === start fromt   ( 768px - ) == */

@include min {}

/* === For Large Device ( 1024px - 1200px) == */
@include large {}
