// Testimonials Section Starts Here
.testimonials {
    position: relative;

    .testimonials-dots {
        position: absolute;
        right: 45px;
        top: 15px;
    }
}

// Testimonials Section Ends Here
