// extra Small devices 420px
@media (max-width: 420px) {
    .my-portfolio .column{
        flex: 100%;
        max-width: none;
    }
    .contact-info{
        text-align: left !important;
        p{
            max-width: 70%;
        }
    }
}

// Small devices 420px - 574px
@media only screen and (min-width: 420px) and (max-width: 574px) {
    .my-portfolio .column{
        flex:33.33%;
        max-width: none;
    }
    .contact-info{
        text-align: left !important;
        p{
            max-width: 70%;
        }
    }
    .about-me__info {
        h3{
            max-width: 100%;
            text-align: left;
        }
        .btn{
            text-align: left;
        }
    }
    
}

// Small devices 575px - 767px
@media (min-width: 575px) and (max-width: 767px) {
}

// Medium devices 768px - 991px
@media (min-width: 768px) and (max-width: 991px) {
}
// Large devices 992px - 1200px
@media (min-width: 992px) and (max-width: 1200px) {

}