// Copyright Area Starts Here
.copyright {
    p {
        color: #404040;
        line-height: 19px;
        font-size: 14px;

        span {
            margin-right: 4px;
        }
    }
}

// Copyright Area Starts Here
// Responsive
/* === For Small Device ( 0px - 767px) == */
@include small {
    

    .my-portfolio {
        padding: 0;

        .column {
            padding: 0px 8px;

            img {
                margin-bottom: 16px;
            }
        }
    }

    .testimonials {
        &-dots {
            display: none;
        }

        .testimonial-left {
            margin-bottom: 30px;

            &__heading {
                margin-bottom: 12px;
            }

            &__text {
                margin-bottom: 20px;

                p {
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            &__dots {
                margin-bottom: 20px;
                text-align: center;
            }

            &__buttons {
                text-align: center;
            }
        }
    }

    .contact-info {
        text-align: center;

        p {
            font-size: 14px;
            line-height: 22px;
            max-width: 100%;
        }

        &__text {
            margin-top: 25px;
        }

        &__text {
            h6 {
                font-size: 20px;
                line-height: 28px;
                margin-bottom: 3px;
            }
        }

        &__links {
            margin-top: 25px;
            margin-bottom: 30px;

            h6 {
                font-size: 20px;
                line-height: 28px;
                margin-bottom: 10px;
            }
        }

    }

    .contact {
        padding-bottom: 35px;
    }

    .contact-form {
        order: 2;
        text-align: center;

        form {
            input {
                height: 50px;
                margin-bottom: 25px;
            }

            textarea {
                height: 110px;
                margin-bottom: 25px;
            }
        }
    }

    .about-me {
        padding-bottom: 25px;
        z-index: 3;

        &__image {
            margin-bottom: 30px;
        }

        &__info {
            text-align: center;

            h3 {
                margin-bottom: 20px;
            }

            p {
                text-align: left;
                line-height: 22px;

                &:nth-last-of-type(1) {
                    margin-bottom: 20px;
                    margin-top: -10px;
                }
            }

            button {
                &:nth-last-of-type(1) {
                    margin-left: 10px;
                }
            }
        }

        &__dots {
            display: none;
        }

        &__triangle {
            z-index: -3;
            filter: grayscale(50%);
        }
    }
}

/* === For Extra small Device ( 320px - 575px) == */
@include ex_small {}

/* === For Medium Device ( 768px - 1023px) == */
@include medium {


    .my-portfolio {
        padding: 0;
    }

    .testimonials {
        .testimonial-left {
            margin-bottom: 30px;

            &__heading {
                margin-bottom: 20px;
            }

            &__text {
                margin-bottom: 30px;

                p {
                    font-size: 18px;
                    line-height: 26px;
                }
            }

            &__dots {
                margin-bottom: 30px;
            }

            &__buttons {
                text-align: left;
            }
        }
    }

    .contact {
        padding-bottom: 50px;
    }

    .contact-info__links h6,
    .contact-info__text h6 {
        font-size: 30px;
    }

    .about-me {
        padding-bottom: 25px;
        z-index: 3;

        &__image {
            text-align: center;
            margin-bottom: 30px;
        }

        &__info {
            text-align: center;

            h3 {
                font-size: 24px;
                margin-bottom: 20px;
                max-width: 100%;
                text-align: left;
            }

            p {
                font-size: 14px;
                text-align: justify;
                line-height: 26px;
                max-width: 90%;

                &:nth-last-of-type(1) {
                    margin-bottom: 30px;
                }
            }

            button {
                &:nth-last-of-type(1) {
                    margin-left: 15px;
                }
            }
        }

        &__dots {
            bottom: 105px;
            right: 10px;
            width: 80px;
        }

        &__triangle {
            z-index: -3;
            filter: grayscale(20%);
        }
    }
}

/* === For Large Device ( 1024px - 1200px) == */
@include large {
    .contact {
        padding-bottom: 50px;
    }

    .about-me {
        z-index: 3;

        &__dots {
            bottom: 0px;
            right: 5px;
            width: 90px;
        }

        &__triangle {
            z-index: -3;
            filter: grayscale(10%);
        }
    }
}

// For Laptop
@media (min-width: 1201px) and (max-width: 1439px) {
    .about-me {
        z-index: 3;

        &__dots {
            bottom: 65px;
            right: 25px;
            width: 90px;
        }

        &__triangle {
            z-index: -3;
            filter: grayscale(10%);
        }
    }
}

//  For About Section
@media (min-width: 992px) and (max-width: 1023px) {
    .about-me__dots {
        width: 0px;
        bottom: 0px;
        right: 5px;
    }
}
