// Copyright Area Starts Here
.copyright {
    p {
        color: #404040;
        line-height: 19px;
        font-size: 14px;

        span {
            margin-right: 4px;
        }
    }
}

// Copyright Area Starts Here
// Responsive
/* === For Small Device ( 0px - 767px) == */
@include small {
    

    

    .testimonials {
        &-dots {
            display: none;
        }

        .testimonial-left {
            margin-bottom: 30px;

            &__heading {
                margin-bottom: 12px;
            }

            &__text {
                margin-bottom: 20px;

                p {
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            &__dots {
                margin-bottom: 20px;
                text-align: center;
            }

            &__buttons {
                text-align: center;
            }
        }
    }

    .contact-info {
        text-align: center;

        p {
            font-size: 14px;
            line-height: 22px;
            max-width: 100%;
        }

        &__text {
            margin-top: 25px;
        }

        &__text {
            h6 {
                font-size: 20px;
                line-height: 28px;
                margin-bottom: 3px;
            }
        }

        &__links {
            margin-top: 25px;
            margin-bottom: 30px;

            h6 {
                font-size: 20px;
                line-height: 28px;
                margin-bottom: 10px;
            }
        }

    }

    .contact {
        padding-bottom: 35px;
    }

    .contact-form {
        order: 2;
        text-align: center;

        form {
            input {
                height: 50px;
                margin-bottom: 25px;
            }

            textarea {
                height: 110px;
                margin-bottom: 25px;
            }
        }
    }


}

/* === For Extra small Device ( 320px - 575px) == */
@include ex_small {}

/* === For Medium Device ( 768px - 1023px) == */
@include medium {




    .testimonials {
        .testimonial-left {
            margin-bottom: 30px;

            &__heading {
                margin-bottom: 20px;
            }

            &__text {
                margin-bottom: 30px;

                p {
                    font-size: 18px;
                    line-height: 26px;
                }
            }

            &__dots {
                margin-bottom: 30px;
            }

            &__buttons {
                text-align: left;
            }
        }
    }

    .contact {
        padding-bottom: 50px;
    }

    .contact-info__links h6,
    .contact-info__text h6 {
        font-size: 30px;
    }
}

/* === For Large Device ( 1024px - 1200px) == */
@include large {
    .contact {
        padding-bottom: 50px;
    }
}


