// Copyright Area Starts Here
.copyright {
    p {
        color: #404040;
        line-height: 19px;
        font-size: 14px;

        span {
            margin-right: 4px;
        }
    }
}

// Copyright Area Starts Here
