// Button Style Starts Here
.btn {
	-moz-user-select: none;
	background: #000000 none repeat scroll 0 0;
	border: 1px solid #000000;
	border-radius: 7px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	margin-bottom: 0;
	padding: 12px 28px;
	text-align: center;
	touch-action: manipulation;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
    white-space: nowrap;
    &:focus{
        box-shadow: none !important;
	}
	&:hover{
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #707070;
	}
	&.btn_white{
		background: #FFFFFF;
		color: #000000;
		&:hover{
			background: #000000;
			color: #fff;
		}
	}
	&.btn_yellow{
		background: #FFE817;
		color: #000000;
		border: 1px solid #FFE817;
		&:hover{
			background: #000000;
			color: #FFFFFF;
			border: 1px solid #000000;
		}
	}
	&.btn_prev{
		i{
			font-size: 16px;
			margin-left: 5px;
		}
	}
}
// Button Style Ends Here
