.testimonial-left{
    &__heading{
        margin-bottom: 40px;
        h5{
            color: #1F2020;
            margin-bottom: 0 !important;
        }
        span{
            color: #404040;
            font-size: 18px;
            font-weight: 400;
        }
    }
    &__text{
        margin-bottom: 40px;
        p{
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 0 !important;
        }
    }
    &__dots{
        margin-bottom: 40px;
        span{
            display: inline-block;
            margin-right: 8px;
            height: 8px;
            width: 8px;
            border: 1px solid #1F2020;
            background-color: transparent;
            border-radius: 2px;
            &.active_dots{
                background-color: #1F2020;
            }
        }
    }
    &__buttons{
        .btn_prev{
            margin-right: 25px;
        }
    }
}
