.testimonial-left {
    &__heading {
        margin-bottom: 40px;

        h5 {
            color: #1F2020;
            margin-bottom: 0 !important;
        }

        span {
            color: #404040;
            font-size: 18px;
            font-weight: 400;
        }
    }

    &__text {
        margin-bottom: 40px;

        p {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 0 !important;
        }
    }

    &__dots {
        margin-bottom: 40px;
    }

    &__buttons {
        .btn_prev {
            margin-right: 25px;
        }
    }
}

// Swiper CSS

.swiper-wrapper {
    position: relative;
}

.swiper-slide {
    margin-bottom: 50px;
}

.swiper-pagination {
    position: absolute;
    left: 0px;
    bottom: 90px !important;
    display: flex;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid #1F2020;
}

.swiper-pagination-bullet-active {
    background-color: #1F2020;
}
